@model ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Product.Id!=0?"Update":"Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data" asp-action="Upserts">
            <input asp-for="Product.Id" hidden /> 
            <input asp-for="Product.ImageUrl" hidden /> 
            <div class="row">
                <div class="col-10">
                    <div class="border p-3 ">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="Product.Title" />
                            <label class="ms-2">Product Name</label>

                            <span asp-validation-for="Product.Title" class="text-danger text-muted"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label class="ms-2">Product Description</label>
                            <textarea class="form-control border-0 shadow" asp-for="Product.Description"></textarea>


                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="Product.ISBN" />
                            <label class="ms-2">ISBN</label>
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="Product.Author" />
                            <label class="ms-2">Author Name</label>
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="Product.ListPrice" />
                            <label class="ms-2">ListPrice</label>
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="Product.Price" />
                            <label class="ms-2">Price</label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="Product.Price50" />
                            <label class="ms-2">Price50</label>
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="@Model.Product.Price100" />
                            <label class="ms-2">Price100</label>
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                           <select class="form-select border-0 shadow" asp-for="Product.CategoryId" asp-items="@Model.CategoryList">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label class="ms-2">Category Name</label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>                           
                            
                            <div class="form-floating py-2 col-12">
                                <input type="file" name="file" onchange="previewImage(event)" class="form-control border-0 shadow" accept=".jpeg, .jpg, .png" />
                                <label class="ms-2">Image</label>
                            </div>
                            <div class="form-group">
                                <img id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 200px; max-height: 200px;">
                            </div>
                           

                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3 ">
                               
                                @if (Model.Product.Id != 0)
                                {
                                <button type="submit" class="btn btn-primary form-control"> Update </button>
                                }
                                else
                                {
                                <button type="submit" class="btn btn-primary form-control"> Create </button>
                                }
                                
                               
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">Back to list</a>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9"/>
                </div>
            </div>           
        </form>
    </div>
</div>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap ',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',  
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });


        function previewImage(event) {
            // this will catch the input with reference to the event
            var input = event.target;
            //this will get imgage preview img  type so that we can maoe URL to img src
            var preview = document.getElementById('imagePreview');
            //if input has file then only it will go through the condition
            if (input.files && input.files[0]) {
                //this is used to read the file and get its detail. It just a library class
                var reader = new FileReader();
                // when an event is triggered and the reader will
                reader.onload = function (e) {
                    //passing the event data to the img src with the id="imagePreview"
                    preview.src = e.target.result;
                    //setting the style of img to block so that image will load with proper size
                    preview.style.display = 'block';
                }
                //this will read the file and generate the url. Its just a function of the FileReader calssand it will read the fiole as binary string
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
